{
    "presets": ["@babel/preset-env","@babel/preset-react"],
      "plugins": [
        ["@babel/plugin-transform-runtime",{
          "helpers": true,
          "regenerator": true,
          "useESModules": false,
          "corejs": 2
        }],
        [
          "import",
          {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style":  "true"
          }
        ],
        ["@babel/plugin-proposal-class-properties"]
      ]
    }
    